/* Fuente */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #353535;
    /*font-family:'Indie Flower', cursive;*/
    /*font-family: 'Supermercado One', cursive;*/
    /*font-family: 'Oswald', sans-serif;*/
    font-family: 'Merriweather', serif;
    background-image: url(../img/padded.png);
}

.tarjeta{
    width: 400px;
    background-color: rgba(0, 0, 0, .4);
    margin: 0 auto;
    margin-top: 6%;
    padding: 20px;
    color: #fff;
    text-align: center;
    border-radius: 15px;
}

.ftperfil{
    border-radius: 50%;
}

.tarjeta h1{
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 4px;
    margin: 20px 0 20px;
}

.tarjeta h3{
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 3px;
    margin-bottom: 20px;
    color: rgb(230, 19, 19);
}

.tarjeta p{
    text-align: center;
    font-size: 15px;
}

.tarjeta ul{
    list-style: none;
    margin-top: 20px;
    letter-spacing: 9px;
}

.tarjeta ul li{
    display: inline-block;
}

.tarjeta ul li a{
    color: #fff;
    font-size: 25px;
    padding: 10px 5px;
    display: block;
    transition: all 0.5s ease-in-out;
}

.tarjeta ul li a:hover{
    color: rgb(230, 19, 19);
    transform: scale(1.1);
}